body {font-size: 16px}
{line-style: courier}
{line-height: 1.5}
{color: #1C1C1C}
{background-color: #FFD700}

h1 {color: #B11010;}
    {background-color: #FFFFFF;}
    {font-size: 30px}
    {font-style: futura}
#top {background-color: #3D3D3D }
  {color: #A6E3A8}
  {font-size: 27px}
  {font-style: cooper}

h3 {background-color: #FFFFFF }
  {color: #006161}
  {font-size: 24px}

a:link {color: #FF6F61}

a:visited {color: orange}

a:hover {color: tealgreen}

a:active {color: #A6E3A8}
