body {font-size: 16px}
{line-style: courier}
{line-height: 1.5}
{color: #1C1C1C}
{background-color: #FFD700}

h1 {color: #B11010;}
    {background-color: #FFFFFF ;}
    {font-size: 30px}
h2 {background-color: #3D3D3D }
  {color: #A6E3A8}
  {font-size: 27px}

h3 {background-color: #FFFFFF }
  {color: #006161}
  {font-size: 24px}

a:link {color: #FF4500}

a:visited {color: #FF5733}

a:hover {color: #008E8F}

a:active {color: #A6E3A8}
